<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title|default:"Swagger" }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if favicon_href %}<link rel="icon" href="{{ favicon_href }}">{% endif %}
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/swagger-ui-dist@3.52.0/swagger-ui.css">
    <style>
        .opblock-summary-description {
            color: #5800ff !important;
            font-weight: bold;
        }
    </style>
</head>

<body>
<div id="swagger-ui"></div>
<script src="https://unpkg.com/swagger-ui-dist@3/swagger-ui-bundle.js"></script>
<script src="https://unpkg.com/swagger-ui-dist@3/swagger-ui-standalone-preset.js"></script>
<script>
    const ui = SwaggerUIBundle({
        url: "{% url 'schema' %}",
        dom_id: '#swagger-ui',
        presets: [
            SwaggerUIBundle.presets.apis,
            SwaggerUIStandalonePreset
        ],
        plugins: [
          SwaggerUIBundle.plugins.DownloadUrl
        ],
        layout: "StandaloneLayout",
        requestInterceptor: (request) => {
            request.headers['X-CSRFToken'] = "{{ csrf_token }}"
            return request;
        },
        filter: true,
        displayOperationId: true,
        deepLinking: true,
        displayRequestDuration: true,
        persistAuthorization: true,
    })
</script>
</body>
</html>
